body {

    --background-color: white;
    --cardbackground-color: white;
    --ticketbackgroudn-color: white;
    --text-color: black;
    --transition-delay: 1s;
}

body.dark {

    --background-color: #292B32;
    --cardbackground-color: #3B3E47;
    --ticketbackgroudn-color: #1A232A;
    --text-color: white;
}

.adcard-container {
    display: flex;
    flex-direction: column;
    height: 511px;
    width: 300px;
    align-items: center;
    margin-right: 1%;
    background-color: var(--cardbackground-color);
}

.adcard-image {
    display: flex;
    flex-direction: column;
    height: 275px;
    width: 270px;
    margin-top: 5%;
    position: relative;
}

.adcard-image p {
    background-color: black;
    color: white;
    height: 25px;
    width: 47.7px;
    position: absolute;
    text-align: center;
    margin-left: 82%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    font-weight: 700;



}

.team-name {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.card-info {
    display: flex;
    flex-direction: column;
}

.sport-details {
    display: flex;
    flex-direction: row;
    height: 54px;
    width: 270px;
    justify-content: space-evenly;
    padding: 2%;
}

.sport-name {
    text-align: center;
}

.events {
    text-align: left;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}